<nav id="header" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            Template
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        {{#if user}}
        <div class="collapse navbar-collapse navbar-dark" id="navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/profile">Perfil</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/extra">Extra</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/logout">Cerrar sesión</a>
                </li>
            </ul>
        </div>

        {{else}}
        <div class="collapse navbar-collapse navbar-dark" id="navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/login">Iniciar sesión</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/signup">Registrate</a>
                </li>
            </ul>
        </div>

        {{/if}}
    </div>
</nav>